$green: #4CAF50;

#withdrawOverview {
  width: 450px;
  margin: 0 auto;
}

#submit {
  color: $green;
  display: flex;
  justify-content: flex-end;

  button {
    font-weight: bold;
  }
}

#navBar {
  a {
    color: black;
    margin-top: 8px;
  }
  span {
    margin-left: 10px;
    font-weight: 600;
  }
}

.mat-toolbar {
  background-color: white !important;
}
