#accountOverview {
  width: 550px;
  margin: 0 auto;
}

.balances {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px !important;
}

.amount-group {
  span {
    font-size: 30px;
    font-weight: 500;
  }
  label {
    color: gray;
  }
}

#draw {
  background-color: #4CAF50;
}
